* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #000;
    font-size: 16px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh; /* altura total da tela */
    background-image: url("./img/Background.png"); /* caminho da imagem */
    background-size: cover; /* cobre toda a tela */
    background-position: center; /* centraliza */
    background-repeat: no-repeat; /* não repete */
}

.Container {
    height: 100vh;
    position: relative;
    /*background: linear-gradient(135deg,rgba(243, 198, 205, 1) 0%, rgba(148, 187, 233, 1) 100%);*/
    overflow: hidden;
}

.numbers{
    font-size: 80px;
    font-family: 800;
    opacity: 0;
}

.score{
    position: absolute;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    top: 82%;
    left: 48%;
}

.rot{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 162, 255);
    z-index: 2;
}

.pont{
    font-size: 80px;
    font-family: 800;
    z-index: 3;
}

.text-score{
    position: absolute;
    z-index: 3;
}

.Indicators{
    position: relative;
    top: 60%;
    left: 0%;
    width: 50vw;
    transform: translateX(50%);
    display: flex;
    object-fit: cover;
    z-index: 0;
}

.playerIdleLeft{
position: absolute;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    top: 40%;
    left: 43%;
    z-index: 3;
    opacity: 1;
}

.playerIdleRight{
    position: absolute;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    top: 40%;
    left: 43%;
    z-index: 3;
    opacity: 1;
}

.playerKickLeft{
    position: absolute;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    top: 40%;
    left: 43%;
    z-index: 3;
    opacity: 1;
}

.playerKickRight{
    position: absolute;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    top: 40%;
    left: 43%;
    z-index: 3;
    opacity: 1;
}

.ball{
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate(7.5px, -14px);
    z-index: 5;
}

.button1{
    position: absolute;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    width: 770px;
    height: 800px;
    opacity: 0.1;
    top: -20%;
    left: 0%;
    z-index: 10;
}

.button2{
    position: absolute;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    width: 770px;
    height: 800px;
    opacity: 0.1;
    top: -20%;
    left: 50%;
    z-index: 10;
}